{% schema %}
{
  "name": "Two-Column Slider 2",
  "blocks": [
    {
      "type": "left-slider",
      "name": "Left Column",
      "settings": [
        {
          "type": "image_picker",
          "id": "left_column_background",
          "label": "Left Column Background Image"
        },
        
        {
          "type": "text",
          "id": "left_column_title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "left_column_description",
          "label": "Image Description"
        },
        {
          "type": "text",
          "id": "left_column_text_link_label",
          "label": "Text Link Label"
        },
        {
          "type": "url",
          "id": "left_column_text_link",
          "label": "Text Link"
        },
        {
          "type": "header",
          "content": "Fade Slider Images"
        },
        {
          "type": "image_picker",
          "id": "left_column_image_1",
          "label": "Carousel Image 1"
        },
        {
          "type": "image_picker",
          "id": "left_column_image_2",
          "label": "Carousel Image 2"
        },
        {
          "type": "image_picker",
          "id": "left_column_image_3",
          "label": "Carousel Image 3"
        }
      ]
    },
    {
      "type": "right-slider",
      "name": "Right Column",
      "settings": [
        {
          "type": "header",
          "content": "Right Column Settings"
        },
        {
          "type": "text",
          "id": "right_column_title",
          "label": "Title"
        },
         {
          "type": "text",
          "id": "right_column_description",
          "label": "Image Description"
        },
        {
          "type": "text",
          "id": "right_column_text_link_label",
          "label": "Text Link Label"
        },
        {
          "type": "url",
          "id": "right_column_text_link",
          "label": "Text Link"
        },
        {
          "type": "text",
          "id": "right_column_button_label_1",
          "label": "Button Label 1"
        },
        {
          "type": "url",
          "id": "right_column_button_link_1",
          "label": "Button Link 1"
        },
        {
          "type": "header",
          "content": "Image Slider"
        },
        {
          "type": "image_picker",
          "id": "right_column_background",
          "label": "Background Image"
        },
        {
          "type": "image_picker",
          "id": "right_column_background_mobile",
          "label": "Mobile Background Image"
        },
        {
          "type": "image_picker",
          "id": "right_column_image_1",
          "label": "Slider Image 1"
        },
        {
          "type": "text",
          "id": "right_column_image_caption_1",
          "label": "Slider Caption 1"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Two-Column Slider 2"
    }
  ]
}
{% endschema %}


<div class="custom-section d-flex">
  <div class="left-column" style="background-image: url('{{ section.blocks[0].settings.right_column_background | img_url: 'master' }}');">
    <div class="fade-carousel">
      {% for i in (1..3) %}
        {% assign image_id = 'left_column_image_' | append: i %}
        {% if section.blocks[0].settings[image_id] %}
          <img src="{{ section.blocks[0].settings[image_id] | img_url: 'master' }}" alt="Slide Image" class="fade-slide">
        {% endif %}
      {% endfor %}
    </div>
    <div class="left-content d-flex">
      <div>
         <h3>{{ section.blocks[0].settings.left_column_title }}</h3>
         <a class="text-link" href="{{ section.blocks[0].settings.left_column_button_link }}">{{ section.blocks[0].settings.left_column_text_link_label }} <span class="arrow-icon"></span></a>
      </div>
      <p>{{ section.blocks[0].settings.left_column_description }}</p>
    </div>
  </div>
  <div class="right-column two" style="background-image: url('{{ section.blocks[1].settings.right_column_background | img_url: 'master' }}');">
    <h2 class="lp">{{ section.blocks[1].settings.right_column_title }}</h2>
    <h5 class="w-100 center">{{ section.blocks[1].settings.right_column_description }}</h5>
    <div class="image-container w-100 d-block text-center mt-6">
     <div class="wrapper">
        <div class="swiper-container">
          <div class="swiper-wrapper">
             {% for i in (1..3) %}
              {% assign image_id = 'right_column_image_' | append: i %}
              {% assign caption_id = 'right_column_image_caption_' | append: i %}
              {% if section.blocks[1].settings[image_id] %}
                  <div class="swiper-slide">
                    <img src="{{ section.blocks[1].settings[image_id] | img_url: 'master' }}" alt="Slide img"/>
                    <p class="m-auto d-flex justify-between">{{ section.blocks[1].settings[caption_id] }} <span class="arrow-icon"></span></p>
                  </div>
              {% endif %}
              {% endfor %}
          </div>
        </div>
      </div>
  </div>
  <div class="right-button d-block w-100 mt-6 mb-6">
    <a href="{{ section.blocks[1].settings.right_column_button_link_1 }}" class="buy-button m-auto">{{ section.blocks[1].settings.right_column_button_label_1 }}</a>
  </div>
  </div>
</div>
<style>
  .custom-section {
    width: 100%;
    height: 88vh;
    position: relative;
  }
  .left-column, .right-column {
    position: absolute;
  }
  .left-column {
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    transition: all 1.2s ease-out;
  }
  .fade-carousel img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .fade-slide {
    opacity: 0;
    transition: all 0.5s;
  }
  .fade-slide.active {
    opacity: 1;
  }
  .left-content {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    align-content: space-between;
    z-index: 15;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  .left-content div {
    width: 100%;
  }
  .left-content .text-link {
    color: #fff;
    display: flex;
    margin: 0;
    font-size: 14px;
    align-items: center;
    background-color: transparent;
  }
  .left-content h3 {
    color: #FFF;
    margin: 0;
    font-family: "Poppins Light";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 3px;
    text-transform: capitalize;
  }
  .left-content p {
    color: #fff;
    margin: 0;
    font-size: 14px;
  }
  .left-content button {
    color: #FFF;
    text-align: center;
    font-family: "Poppins ExtraLight";
    font-size: 14px;
    font-style: normal;
    font-weight: 275;
    line-height: normal;
    letter-spacing: 3px;
    text-transform: capitalize;
  }
  .arrow-icon {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .left-content .arrow-icon {
    background-image: url('https://cdn.shopify.com/s/files/1/0690/7592/7092/files/arrow_insert.svg?v=1742787617');
  }
  .right-column {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 53%;
    height: 100%;
    top: 0;
    right: -50px;
    opacity: 0;
    padding: 20px;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease-out;
  }
  .right-column.two .swiper-container, .right-column.two .swiper-slide  {
    width: 310px;
  }
  .right-column h2 {
    color: #000;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    font-family: "Poppins Light";
    font-size: 38px;
    font-style: normal;
    font-weight: 300;
    line-height: 49px; /* 153.125% */
    letter-spacing: 3px;
    text-transform: capitalize;
  }
  .right-column h2.lp {
    max-width: 450px;
    font-size: 32px;
    line-height: 49px;
  }
  .image-slider {
    width: 45%;
    clear: both;
    margin: 10px auto 0;
    display: block;
    overflow: hidden;
    gap: 10px;
    height: 400px;
  }
  .right-column .swiper-slide p {
    width: 220px;
    bottom: -40px;
    left: 25px;
    height: 30px;
    z-index: 10;
    color: #000;
    padding: 5px;
    position: absolute;
    font-size: 12px;
    font-style: normal;
    font-weight: 275;
    line-height: normal;
    letter-spacing: 3px;
    text-transform: capitalize;
  }
  .swiper-slide p .arrow-icon {
    background-image: url('https://cdn.shopify.com/s/files/1/0690/7592/7092/files/arrow_outward.svg?v=1742787648');
  }
  .text-link {
    display: inline-block;
    color: #007acc;
    text-decoration: none;
    margin: 10px 0;
  }
  .right-column .button {
    width: 290px;
    display: block;
    border-radius: 10px;
    background-color: transparent;
    color: #000;
    padding: 10px 15px;
    text-align: center;
    margin: 10px auto;
    border-radius: 5px;
    text-decoration: none;
    border: none;
  }

  .right-column .button.white {
    background-color: #fff;
  }

  .right-column .button::before, .button::after {
    border: none;
    box-shadow: none;
  }
  /* SWIPER */
  .right-column .swiper-wrapper {
    align-items: baseline;
  }
  .right-column .swiper-container {
  	width: 480px;
    height: 370px;
    padding: 20px 0;
    margin-left: auto;
    margin-right: auto;
  }
  
  .right-column .swiper-slide {
    height: 274px;
    position: relative;
    transition: transform 1.2s ease-out, opacity 1.2s ease-out;
  }

  .right-column .swiper-slide img {
    width: 220px;
    height: 274px;
    border-radius: 10px;
    object-fit: contain;
  }
  
  .right-column .swiper-slide:not(.swiper-slide-prev):not(.swiper-slide-active):not(.swiper-slide-next) {
  	opacity: 0;
  }
  
  .right-column .swiper-slide-prev, 
  .right-column .swiper-slide-next {
    filter: blur(2px);
  }
  
  .right-column .swiper-slide-active {
    
  	transition: 0.5s all;
    
  }
  .right-column .swiper-slide-active img {
     width: 255px;
     height: 300px;
     object-fit: cover;
     transition: 0.5s all;
     filter: blur(0);
     transform: scale(1.1); /* Slight zoom for smooth effect */
  }
  .right-column .swiper-slide-active p {
    width: 275px;
    bottom: -80px;
    left: 10px;
  }
  .right-column .swiper-slide-duplicate-prev,
  .right-column .swiper-slide-duplicate-next {
    opacity: 0
  }

  @media (max-width: 1024px) {
    .custom-section {
      display: flex;
      flex-direction: column;
      height: 180vh !important; /* Adjust height to fit content */
    }
    .left-column {
      top: 35px;
      width: 100% !important;
      position: relative !important;
      height: 75vh !important;
      display: block;
      opacity: 1; /* Ensure it's visible */
    }
    .right-column {
      height: auto;
      background-position: unset;
      width: 100% !important;
      display: block !important;
      opacity: 1;
      left: 0;
      top: 77vh;
      z-index: 2;
      padding: 50px 0;
      background-image: url({{ section.blocks[1].settings.right_column_background_mobile | img_url: 'master' }}) !important;
    }
    .two-row-section li {
      font-size: 16px;
    }
    .right-column .swiper-container {
      height: 280px;
    }
    .right-column .swiper-slide {
      height: 200px;
    }
    .right-column .swiper-slide img {
      width: 140px;
      height: 174px;
    }
    .right-column .swiper-slide-active p {
      width: 140px;
    }
    .right-column .swiper-slide-active img {
       width: 175px;
       height: 217px;
    }
    .right-column .swiper-slide-active p {
        width: 175px;
    }
    #shopify-section-template--18177521352756__two_column_slider2_yJwCgG .right-column h5 {
        margin: 20px 0 !important;
    }
  }

  @media (max-width: 600px) {
    .custom-section {
      height: 150vh !important;
    }
    .right-column .swiper-container {
      width: 390px;
    }
    .right-column .swiper-slide p {
      width: 135px;
      bottom: -20px;
      left: 60px;
    }
    .right-column .swiper-slide-active p {
      left: 35px;
      width: 185px;
      bottom: -70px;
    }

    .right-column.two .swiper-slide-active p {
        left: 60px;
    }
  }
</style>

<script>
  
$(document).ready(function(){
 //Home Page Banner
 // Function to check screen size and run animation accordingly
  function runBannerAnimation() {
    let $leftColumn = $(".left-column");
    let $rightColumn = $(".right-column");
    
      if (window.innerWidth > 1024) { // Only run animation on larger screens
          setTimeout(function() {
              $leftColumn.css("width", "50%");
              setTimeout(function() {
                  $rightColumn.css("z-index", "2");
                  $rightColumn.css("opacity", "1");
                  $rightColumn.css("right", "-20px");
              }, 800);
          }, 700);
      } else {
          // Reset styles for mobile/laptop view
          $leftColumn.css("width", "");
          $rightColumn.css("z-index", "");
          $rightColumn.css("opacity", "");
          $rightColumn.css("right", "");
      }
  }
  
  // Run animation on page load
  runBannerAnimation();
  
  // Re-run when window resizes
  window.addEventListener("resize", runBannerAnimation);

  // Right Column Slider
  var swiper = new Swiper(".swiper-container", {
    effect: 'coverflow',
    speed: 1500,
    grabCursor: true,
    centeredSlides: true,
    centeredSlidesBounds: true, 
    slidesPerView: 1,
    spaceBetween: -130,
    coverflowEffect: {
      rotate: 0,
      stretch: 0,
      depth: 300,
      modifier: 1,
      slideShadows: true
    }
  });

    
});

    let $slides1 = $(".fade-slide");
    let currentSlide = 0;
    $slides1.eq(currentSlide).addClass("active");
    
    function showNextSlide1() {
      $slides1.eq(currentSlide).removeClass("active");
      currentSlide = (currentSlide + 1) % $slides1.length;
      $slides1.eq(currentSlide).addClass("active");
    }
    setInterval(showNextSlide1, 4500);

    let slides = $('.slide');
    let index = 0;
    
    function showSlide(i) {
      slides.hide();
      slides.eq(i).fadeIn();
    }
    
    function nextSlide() {
      index = (index + 1) % slides.length;
      showSlide(index);
    }
    
    showSlide(index);
    setInterval(nextSlide, 3000);

  
</script>

